@media screen and (min-width:0) and (max-width:767px) {
    .login-wrapper {
        width: 100%;
        padding: 20px;
    }

    /*login page bg Shrinking for mobile*/
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .register-page .header #inner-register {
        height: 95vh;
    }

    .register-wrapper {
        padding: 20px;
    }

    .slick-slide div:first-child {
        margin-right: 0;
        /* margin-left: 0; */
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    .login-wrapper {
        width: 60%;
    }
}

@media screen and (min-width:1200px) {
    .info-main .col-lg-3 {
        max-width: 20%;
    }
}